body{
    background: linear-gradient(to bottom right, rgb(0, 234, 255), rgb(0, 0, 255));
    text-align: center;
}

h1{
    display: inline-block;
    max-width: max-content;
    background:rgb(255, 255, 255) ;
    border-radius: 1rem;
}

.selector{
    background-color:black;
    display:flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1rem;
}

.editor-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    margin: 1rem auto;
    max-width: fit-content;
    text-align: center;
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.titulo2{
    grid-column: 1/4;
    grid-row: 0;
    color: white;
    font-size: bold;
}
.logo-container{
    font-size: bold;
    color: white;
    padding: 1rem;
}

.form-group{
    color: white;
    align-items: start;
    padding: 10px;
}

.obser{
    grid-column: 1/4;
    grid-row: 8/9;
}

h3{
    grid-column: 1/4;
}